CO3D_ClickMe2
*.tar
.DS_Store
assets/
clickme_test_images/
jay_imagenet_0.1_images
human_ceiling_results.npz
__pycache__
individual_clickme_maps
*.npz
# *.npy
jay_imagenet_val_0.1_images/
co3d_val_images/
co3d_masks
jay_work_in_progress/venv